{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<form id="setting">
  {{ macros.setting_input_text('program_save_path', '저장 폴더', value=arg['program_save_path'], col='9', desc=['절대경로 혹은 {PATH_DATA}/download 와 같은 데이터 폴더 기준 상대 경로']) }}
  {{ macros.setting_checkbox('program_make_program_folder', '방송명 폴더 생성', value=arg['program_make_program_folder'], desc='방송 프로그램 이름으로 폴더를 생성하고 다운로드합니다.') }}
  {{ macros.setting_input_int('program_max_download_count', '동시 다운로드 수', value=arg['program_max_download_count'], desc='동시에 다운로드 할 에피소드 갯수입니다.') }}
  {{ macros.setting_select('program_quality', '기본 화질', [['2160p', '2160p'], ['1080p', '1080p'], ['720p', '720p'], ['480p', '480p'], ['360p', '360p']], col='3', value=arg['program_quality']) }}
  {{ macros.setting_checkbox('program_failed_redownload', '자동으로 다시 받기', value=arg['program_failed_redownload'], desc=['On : 플러그인 로딩시 미완료인 항목은 자동으로 다시 받습니다.']) }}
</form>

<script type="text/javascript">

$(document).ready(function(){
});

</script>    
{% endblock %}